@page "/question/{Id:int}"
@using Microsoft.AspNetCore.Identity
@using ValhallaVaultCyberAwareness.Data
@using ValhallaVaultCyberAwareness.Managers
@using ValhallaVaultCyberAwareness.Models
@using ValhallaVaultCyberAwareness.Repository
@inject ValhallaUow uow
@inject QuestionManager questionManager
@inject SignInManager<ApplicationUser> signInManager
@inject AuthenticationStateProvider authenticationStateProvider
@rendermode InteractiveServer

<h3>Question</h3>
@if(question != null)
{	
	
	
	<h1>@question.Title</h1>
	<h3>@question.Text</h3>
}
@if(answers != null)
{
	@foreach(var answer in answers)
	{
		<button class="btn mt-2 @(answer.IsCorrectAnswer ? correctColor : wrongColor)" @onclick="() => Answer(answer.IsCorrectAnswer)">@answer.Text</button>
		<br />
	}
}
@if(questionIsAnswered)
{
	@if(answeredCorrectly)
	{
		<h3>You answered correctly!</h3>
	}
	else
	{
		<h3>Wrong answer!</h3>
	}
	<br />

	<p>Förklaring: @question.ExplanationText</p>

	@if(nextQuestionId != 0)
	{
		<a href="/question/@nextQuestionId">Next question</a>
	}
	else
	{
		<h2>You got @correctPercentage% correct in this segment!</h2>
		<a href="/segment/@question.SegmentId">Summary</a>
	}



}


@code {
	[Parameter]
	public int Id { get; set; }
	private QuestionModel? question;
	private List<AnswerModel>? answers;
	private bool questionIsAnswered;
	private bool answeredCorrectly;
	private int nextQuestionId;
	private double correctPercentage;
	private string correctColor = "btn-primary";
	private string wrongColor = "btn-primary";

	private ApplicationUser? signedInUser;
	private AuthenticationState authenticationState;

	protected override async Task OnParametersSetAsync()
	{
		authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
		if (authenticationState.User.Identity.IsAuthenticated)
		{
			signedInUser = await signInManager.UserManager.GetUserAsync(authenticationState.User);
		}

		question = await uow.QuestionRepo.GetByIdAsync(Id);
		answers = await uow.AnswerRepo.GetAnswersToQuestionsAsync(Id);
		nextQuestionId = await questionManager.GetNextQuestionId(Id);

	}

	private async Task Answer(bool isCorrectAnswer)
	{
		if (questionIsAnswered) return;

		await questionManager.SaveResponseToUser(Id, signedInUser, isCorrectAnswer);

		questionIsAnswered = true;
		answeredCorrectly = isCorrectAnswer;

		correctColor = "btn-success";
		wrongColor = "btn-danger";

		if(nextQuestionId == 0)
		{
			correctPercentage = await questionManager.CalculateCorrectPercentage(question.SegmentId, signedInUser);
		}
	}
}
