@page "/Segment/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using ValhallaVaultCyberAwareness.Components.BComponents
@using ValhallaVaultCyberAwareness.Data
@using ValhallaVaultCyberAwareness.Managers
@using ValhallaVaultCyberAwareness.Models
@using ValhallaVaultCyberAwareness.Repository
@inject ValhallaUow uow
@inject QuestionManager questionManager
@inject ProgressManager progressManager
@inject SignInManager<ApplicationUser> signInManager
@inject AuthenticationStateProvider authenticationStateProvider
@attribute [Authorize]

@if (ChosenSegment == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="text-white">Loading...</h1>
    </div>
}
else
{
     <div class="card bg-dark text-light text-center p-4" >
          <h2 style="color:#21e8ef" class="mb-5">@ChosenSegment.Name</h2>
        <div class="d-flex flex-column align-items-center">

            <p class="mb-2" style="color:#21e8ef">Some Information About This Segment:</p>
            <h3 style="color:#21e8ef">@ChosenSegment.InfoText</h3>
         
            <ul class="list-group w-50 text-center">
                @foreach(var subcategory in subCategories)
                {
                    @* <button class="btn buttonBorder mt-4 @(subcategory.IsAvailable ? "text-light" : "text-danger")" @onclick="ToggleCollapse">@subcategory.Title</button>
                    <div class="@(IsCollapsed? "" : "")">
                        <div class="card bg-dark text-light" style="border:none;">
                            <div class="card-body">
                                @for(int i=0; i < subcategory.Questions.Count(); i++)
                                {
                                    <div class="mt-2 ">
                                        <a class="btn btn-lg buttonBorder" href="/question/@subcategory.Questions[i].Id">Question: @(i+1)</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div> *@

                    <SubCategoryComponent SubCategory="subcategory" SignedInUser="signedInUser" IsAvailable="subcategory.IsAvailable"></SubCategoryComponent>
                }
             </ul>
        </div>
      </div>
         
}
@if (completionPercentage != null)
{
    <h5>Completion: @completionPercentage%</h5>
}


<a href="/home" class="btn btn-lg buttonBorder">Go back</a>


@code {
    [Parameter]
    public int Id { get; set; }
    public SegmentModel? ChosenSegment { get; set; }
    private List<SubCategoryViewModel> subCategories = new();
    private List<QuestionViewModel> questions = new();
    private bool questionAnsweredCorrectly;
    private double? completionPercentage;
    private bool IsCollapsed { get; set; } = false;

    private ApplicationUser? signedInUser;
    private AuthenticationState authenticationState;

    protected override async Task OnParametersSetAsync()
    {
        authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
        if (authenticationState.User.Identity.IsAuthenticated)
        {
            signedInUser = await signInManager.UserManager.GetUserAsync(authenticationState.User);
        }

        ChosenSegment = await uow.SegmentRepo.GetByIdAsync(Id);

        subCategories = await progressManager.GetSubCategoryProgressInSegmentAsync(signedInUser, Id);

        try
        {
            //Räknar ut användarens svarsprocent
            completionPercentage = await questionManager.CalculatePercentageInSegment(ChosenSegment.Id, signedInUser);
        }
        catch
        {
            //Har inte svarat på frågorna än eller så finns det inga frågor i segmentet
        }

    }

    private async Task ToggleCollapse()
    {
        IsCollapsed = !IsCollapsed;

    }

}
